[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = yaml
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = False
ssh_args = -o ControlMaster=no -o ControlPersist=no

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
